body {
	background-color: #8DC73F

}

h1
    {
      font-size: 100px;
      color: white;
      font-family: futura;
      margin-top : 60px;
      margin-bottom: 70px;
      margin-left: 160px;
      margin-right: 100px;
    }

.button
    {
      margin-top: 150px;
      margin-bottom: 100px;
      
      margin-left: 430px;
    }

img {
      margin-left: 160px;
}