/*header{
	font: times;
	color: lightblue;
	background-color: lightblue;
	padding:5px;
	border: 5px solid lightblue;
	margin: 25px;
}
*/

body{

	background-color: lavender;
}

.container{

	display: block;
}

#metwindow{

	width: 900px;
}

#fisher{

	width: 600px;
	position: relative;
	top: 500px;
	left: 300px;
}